@import "../../variables.scss";

.Text {
  display: inline-block;
  min-width: 40px;
  white-space: nowrap;
  font-size: 2rem;
}

.lg {
    cursor: pointer;
    min-width: 80px;

    &:hover {
        animation-name: pulse;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.0);
    }
    50% {
        transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    100% {
       transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
}


.count-down {
    display: block;
   
  }
  